img {
  max-width: 60%;
  height: auto;
  margin: 50px;
  -webkit-filter: blur(5px);
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: black;
  border: solid 1.5px black;
  border-radius: 30px;
  padding: 5px;
  text-decoration: none;
  max-width: 20%;

}
a:hover {
  cursor: pointer;
}
