.foto{
  margin-bottom: 100px;
}

img {
  width: 30%;
  height: auto;
  margin: 1%;
  border: 3px solid;
}

#showMore {
  color: black;
  border: solid 1.5px black;
  border-radius: 30px;
  padding: 5px;
  text-decoration: none;
  max-width: 20%;
  align-self: center;
}


a:hover {
  cursor: pointer;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.cursive {
  font-style: italic;
}
