.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}




.desc {
  font-size: 25px;
  width:80%;
}

b{
  font-weight: bold;
}


a {
  color: black;
  border: solid 1.5px black;
  border-radius: 30px;
  padding: 5px;
  text-decoration: none;
}

app-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

